<!DOCTYPE html>
<html ng-app>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../angninja.css">
<script>
function MyCtrl($scope) {
	$scope.checkAnswer = function() {
		if($scope.yourAnswer == 'num'){
			alert('Correct!');
		}else{
			alert('Wrong!');
		}
	};
}
</script>
<meta charset=utf-8 />
<title>AngNinja Test 0001</title>
</head>
<body>

<a class="sr-only" href="#content">Skip to main content</a>

<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="../index.html" class="navbar-brand">AngNinja</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="../getting-started.html">Getting started</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="../about.html">About</a>
        </li>
      </ul>
    </nav>
  </div>
</header>


<div class="bs-header" id="content">
	<div class="container">
	<h1>Basic Lesson: Getting Variable</h1>
	<p>Type the missing part *HERE* if you want to print the value of current selection.</p>
	</div>
</div>


<div ng-controller="MyCtrl" class="container bs-docs-container">
	<h2>Example</h2>
	<select ng-model="num" ng-init="num=2" class="form-control">
	<option>1</option>
	<option>2</option>
	</select>
	<div>You are No.{{num}}</div>

	<h2>Source</h2>
	<pre class="span10">&lt;select ng-model="num" ng-init="num=2" class="form-control"&gt;
&lt;option&gt;1&lt;/option&gt;&nbsp;
&lt;option&gt;2&lt;/option&gt;&nbsp;
&lt;/select&gt;&nbsp;<div ng-non-bindable>You are No.{{ *HERE* }}</div></pre>

	<h2>Answer</h2>
	<form ng-submit="checkAnswer()" role="form">
		<div class="form-group">
			<input type="text" ng-model="yourAnswer" placeholder="Enter your answer here" class="form-control">
		</div>
		<input type="submit" value="check">
	</form>
</div>
</body>
</html>
